* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container {
    width: 80%;
    height: auto;
    margin: 4rem auto;
}
.caption {
    background-color: #20056e;
    color:white;
    text-align: center;
    width:100%;
    height:auto;
    padding:0.5rem 0;
    border-radius: 1rem;
    margin: 2rem 0;
}

.header {
    width: 100%;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


form {
    height: auto;
    width: 100%;
    border: .01rem solid grey;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f1f1;
}

h1 {
    margin: 1rem 0;
}

p {
    padding-bottom: 1.2rem;
}

.name-container, .email-container, .mobile-container, .password-container, .gender-container, .gender-location {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.in-name {
    height: auto;
    width: 100%;
}

.name, .email, .mobile, .pass {
    width: 100%;
    height: auto;
    border: none;
    padding: .5rem; 
    border-radius: .5rem;
    margin-top:1rem;
}

.email-mobile {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-container, .mobile-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}


.gender-location {
    display: flex;
    width: 100%;
    height: auto;
   
}

.gender, .location {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.gender-radio {
    display: flex;
    column-gap: 3rem;
}
